@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
li{
    margin-top: 300px;
    display: block;
   background-color: transparent;
    background-position: right;
    width: 100px;
    height: 500px;
    margin-left: 650px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;

}

.home::before{
    content: "";
    position: absolute;
    color: red;
    margin-left: -90px;
    width: 100px;
    left: 0;
    height: 30px;
    margin-top: 20px;
    margin-left: 650px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    

}
.home:hover::before{
    width: 100px;
    transition: width 0.3s linear ease-in-out;
    transition-delay: 0.01s;
    right: 0;
    opacity: 1;
    transform: scaleX(1);
    animation-name: moving;
    animation-duration: 0.9s;
    animation-delay: 0.1s;

}

.home::after{
    content: "";
    position: absolute;
    bottom: 375px;
    right: 690px;
    height: 5px;
    width: 5px;
    background: red;
    transition: 0.3s;
    transition-delay: 0.15s;
    opacity: 0;
}
.home:hover::after {
    width: 100px;
    opacity: 1;
}
/* about */
.about::before{
    content: "";
    position: absolute;
    color: red;
    margin-left: -90px;
    width: 115px;
    left: 0;
    height: 30px;
    margin-top: 20px;
    margin-left: 650px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

}
.about:hover::before{
    width: 115px;
    transition: width 0.3s linear ease-in-out;
    transition-delay: 0.01s;
    opacity: 1;
    transform: scaleX(1);
}
.about::after{
    content: "";
    position: absolute;
    bottom: 305px;
    right: 675px;
    height: 5px;
    width: 5px;
    background: red;
    transition: 0.3s;
    transition-delay: 0.15s;
    opacity: 0;
}
.about:hover::after {
    width: 115px;
    opacity: 1;
}
/* contact */
.contact::before{
    content: "";
    position: absolute;
    color: red;
    margin-left: -90px;
    width: 150px;
    left: 0;
    height: 30px;
    margin-top: 20px;
    margin-left: 650px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

}
.contact:hover::before{
    width: 150px;
    transition: width 0.3s linear ease-in-out;
    transition-delay: 0.01s;
    right: 0;
    opacity: 1;
    transform: scaleZ(1);
}
.contact::after{
    content: "";
    position: absolute;
    bottom: 235px;
    right: 640px;
    height: 5px;
    width: 5px;
    background: red;
    transition: 0.3s;
    transition-delay: 0.15s;
    opacity: 0;
}
.contact:hover::after {
    width: 150px;
    opacity: 1;
}
/* faq */
.faq::before{
    content: "";
    position: absolute;
    color: red;
    margin-left: -90px;
    width: 70px;
    left: 0;
    height: 30px;
    margin-top: 20px;
    margin-left: 650px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

}
.faq:hover::before{
    width: 70px;
    transition: width 0.3s linear ease-in-out;
    transition-delay: 0.01s;
    right: 0;
    opacity: 1;
    transform: scaleX(1);

}
.faq::after{
    content: "";
    position: absolute;
    bottom: 165px;
    right: 720px;
    height: 5px;
    width: 5px;
    background: red;
    transition: 0.3s;
    transition-delay: 0.15s;
    opacity: 0;
}
.faq:hover::after {
    width: 70px;
    opacity: 1;
}